body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  transition: background 0.3s ease;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#stroke {
    width: 100%;
}

label {
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background: brown;
  border-right: 2px solid #333;
}

canvas {
  flex: 1;
  background: white;
  border: 1em;
}

button {
  padding: 6px;
  border-radius: 4px;
  border-color: black;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

body.dark button {
  padding: 6px;
  border-radius: 4px;
  border-color: black;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
  background-color: brown;
}

body.dark h3 {
  color: brown;
}

body.dark .toolbar{
  background: black;
}

button:hover {
  transform: scale(1.05);
  background: #bdb6b6;
}

button.active {
  background: rgb(125, 91, 158);
  color: #f5f5f5;
}

body.dark button.active {
  background: rgb(212, 215, 19);
  color: #f5f5f5;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .toolbar {
    flex-direction: row;
    border-right: none;
    border-bottom: 2px solid #333;
    overflow-x: auto; 
    color: brown;
  }

  canvas {
    flex: 1;
    width: 100%;
    height: calc(100vh - 60px); 
  }
}

erase.selected {
  cursor: pointer;
}